<div class="user-list">
  <!-- Lista de usuarios -->
  <h2>Usuarios-admin-user</h2>
  <div *ngFor="let group of users">
    <!-- Grupo de usuarios -->
    <h3>{{ group.role }}</h3>
    <ul>
      <li *ngFor="let user of group.users">
        <!-- Usuario individual -->
        <button (click)="selectUser(user)">{{ user.email }}</button>
        <!-- Botón para seleccionar usuario -->
      </li>
    </ul>
  </div>
</div>

<div class="user-details" *ngIf="selectedUser.email">
  <!-- Detalles del usuario seleccionado -->
  <h2>Detalles del Usuario</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="selectedUser.email" disabled>
      <!-- Campo de entrada de correo electrónico deshabilitado -->
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="text" id="password" name="password" [(ngModel)]="selectedUser.password">
      <!-- Campo de entrada de contraseña -->
    </div>
    <div class="form-group">
      <label for="role">Rol:</label>
      <select id="role" name="role" [(ngModel)]="selectedUser.role">
        <!-- Selección de rol -->
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
    </div>
  </form>
  <div class="buttons">
    <!-- Botones para borrar usuario y guardar cambios -->
    <button (click)="deleteUser(selectedUser)">Borrar Usuario</button>
    <button (click)="saveChanges()">Guardar Cambios</button>
  </div>
</div>
